///////////////////////////
// Events
///////////////////////////
.event-info {
  float: right;
  width: em(222px);
  margin: 0 0 em(30px) em(30px);
  border: 1px solid #e4e4e4;
  background: #f6f6f6 none;

  .title {
    margin: 0;
    padding: em(12px,14px) em(18px,14px);
    @include sans-bold(em(14px), (16/14));
    text-transform: uppercase;
    color: #fff;
    background: #51bdb5 none;
  }

  .inner {
    padding: 0 em(18px) em(12px);
  }

  p {
    margin: em(12px,18px) 0;
    @include sans-condensed(em(18px,16px), (24/18));
  }
}

@media all and (max-width: em(380px)) {
  .event-info {
    clear: both;
    float: none;
    margin: em(30px) 0;
  }
}


.event-toc {
  .entry {
    margin: 0 0 em(36px);
  }
  .image {
    display: block;
    margin: 0 0 em(24px);

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

///////////////////////////
// Top priority
///////////////////////////
.event-toc-featured {
  margin: 0 0 em(54px);
  .entry {
    margin: 0 0 em(24px);
  }

  .entry-title {
    margin: 0 0 em(24px,60px);
    @include sans-condensed(em(60px), (72/60));
  }

  p {
    margin: em(12px,15px) 0;
    font-size: em(15px);
    line-height: (24/15);
  }
}

///////////////////////////
// Medium priority
///////////////////////////
.event-toc-standard {
  @extend %clearfix;

  .entry {
    float: left;
    width: percentage(288/624);
  }

  .entry:nth-child(odd) {
    margin-right: percentage(48/624);
  }

  .entry-title {
    margin: 0 0 em(24px,22px);
    @include sans-roman(em(22px), (36/22));
  }

  p {
    margin: em(18px,15px) 0 em(24px,15px);
    font-size: em(15px);
    line-height: (24/15);
  }
}

///////////////////////////
// Low priority
///////////////////////////
.event-toc-third-party {
  .entry {
    margin: 0 0 em(24px);
  }

  .entry-title {
    margin: 0 0 em(12px,24px);
    @include sans-roman(em(24px), 1);
  }

  p {
    margin: em(12px,14px) 0 em(24px,14px);
    font-size: em(14px);
    line-height: (20/14);
  }
}

