.site-footer {
  // TODO: contrast
  &, & a { color: #7CBFC7; }

  background: #1B6F7A;

  .content {
    @extend %inner-content-frame;
    position: relative;
    padding-top: em(24px);
    padding-bottom: em(36px);
  }

  .footer-about {
    width: percentage(390/978);
    p, label {
      margin: 0 0 em(24px);
      @include sans-roman(em(16px), (30/16));
    }

    a {
      @include mono-bold(1em, 100%);
    }
  }

  .footer-enews {
    .controls {
      max-width: $sidebar-width;
    }
  }
}
