$logo-width: 138px;
$logo-height: 84px;
$logo-gutter: 30px;
$vignette-height: 480px;

.site-header {
  .content {
    @extend %inner-content-frame;
    position: relative;
    max-width: $max-content-width - $sidebar-width - $sidebar-gutter;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $sidebar-width + $sidebar-gutter + $outer-gutter-width;
  }

  .content {
    height: 84px;
    padding-top: em(24px);
    padding-bottom: em(36px);
  }

  .logo {
    float: left;
    width: $sidebar-width;
    margin-left: ($sidebar-width + $sidebar-gutter) * -1;
  }


  @include breakpoint(tablet) {
    .logo {
      width: $tablet-sidebar-width;
      margin-left: ($tablet-sidebar-width + $sidebar-gutter) * -1;
    }
    .content, .secondary-content {
      max-width: none;
      padding-left: $tablet-sidebar-width + $sidebar-gutter + $tablet-gutter-width;
    }
    font-size: 13px; // TODO: ugly!
  }

  @include breakpoint(mobile) {
    font-size: 12px;

    .logo {
      margin-left: 0;
    }


    .content, .secondary-content {
      max-width: none;
      height: auto;
      padding-left: $mobile-gutter-width;
    }

    .content {
      padding: 16px $mobile-gutter-width;
    }
  }



  .logo {
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    height: $logo-height;

    a {
      display: block;
      width: $logo-width;
      height: $logo-height;
      @extend %image-replacement;
      background: transparent url("img/header-logo.svg") 50% 0 no-repeat;
      background-size: $logo-width $logo-height;

      .no-svg & {
        // TODO: this looks terrible
        background-image: url("img/header-logo.png");
      }
    }
  }
}

.site-nav {
  ul, li {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: (24/16);
    list-style: none;
  }
}

.primary-nav {
  $nav-colors: $lightteal, $yellow, $green, $orange;
  position: relative;
  z-index: 20;
  margin-top: em(48px);

  ul {
    display: block;
    text-align: justify;
  }

  ul:after{
    @extend %inline-block;
    width: 100%;
    content: "";
  }

  li {
    @extend %inline-block;
    position: relative;
    padding: 0 0 em(24px);
  }

  a {
    display: block;
    text-transform: uppercase;
    // nudge down
    margin-bottom: em(8px,24px);
    padding-top: em(4px,24px);
    @include sans-condensed(em(24px), 1);
  }

  @for $i from 1 through length($nav-colors) {
    $c: nth($nav-colors, $i);
    li:nth-child(4n+#{$i}) {
      a { color: $c; }
      a:hover, a:focus { color: darken($c, 15%); }

      .high-contrast & a { color: darken($c, 20%) !important; }
    }
  }

  .sub-menu {
    display: none;
    z-index: 20;
    height: 0;
    position: absolute;
    width: em(192px);
    top: em(48px);
    left: 50%;
    margin-left: em(-96px);
    padding: em(12px) 0;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    background: #fff;

    li {
      display: block;
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      margin: 0;
      padding: em(12px,15px) em(24px,15px);
      @include sans-condensed(em(15px), (20/15));
      text-transform: lowercase;

    }

    li a, li:nth-child(1n+1) a {
      color: #B1B1B1;

      &:hover, &:focus {
        background: #e4e4e4;
      }
    }
  }

  .sub-menu:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: em(96px - 12px);
    top: em(-24px);
    border: em(12px) solid;
    border-color: transparent transparent #E4E4E4;
  }

  .sub-menu:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: em(96px - 11px);
    top: em(-21px);
    border: em(11px) solid;
    border-color: transparent transparent #fff;
  }

  li:hover, li:focus {
    .sub-menu {
      display: block;
      height: auto;
    }
  }
}


.secondary-nav {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: em(48px);
  top: 0;
  left: 0;
  text-align: right;

  .secondary-content {
    position: relative;
    max-width: $max-content-width - $sidebar-width - $sidebar-gutter;
    margin: 0 auto;
    padding-left: $sidebar-width + $sidebar-gutter + $outer-gutter-width;
  }


  div { display: inline-block; vertical-align: middle; }

  ul, li { line-height: 1; }

  ul {
    word-spacing: 0;
  }

  li {
    display: inline-block;
    padding: em(12px) 0;
    vertical-align: top;
  }

  .badge {
    padding: 0 0 0 em(24px);
    a { margin: 0; color: #fff; }
  }

  a {
    display: block;
    padding: 0 em(18px,11px);
    font-size: em(11px);
    line-height: (24/11);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $bluegrey;

    &:hover, &:focus {
      color: $darkteal;
    }
  }

  li:first-child a { padding-left: 0; }
  li:last-child a { padding-right: 0; }

  .current a {
    color: $darkteal;
  }
}

.masthead {
  position: relative;
  height: em(432px - 12px - 12px);
  padding-top: em(12px);
  padding-bottom: em(12px);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;


  .content {
    @extend %inner-content-frame;
    position: relative;
    //height: em(430px - 48px);
    padding-top: 0;
    padding-bottom: 0;
  }

  .vignette {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: $vignette-height;
    left: 0;
    bottom: 0;

    .content {
      height: $vignette-height;
    }

    img {
      float: right;
      display: block;
      width: auto;
      height: $vignette-height;
    }
  }

  .masthead-title, p {
    color: #fff;
  }

  .masthead-title {
    margin: em(12px,60px);
    @include mono-bold(em(60px), (72/60));
    text-shadow: 1px 1px 1px rgba(#000, 0.2);
  }

  p {
    margin: em(12px,18px);
    @include sans-roman(em(18px), (32/18));
    color: rgba(#fff, 0.75);
  }

  .text-wrap {
    display: table;
    position: relative;
    z-index: 6;
    max-width: em(504px);
    height: em(430px - 48px);
  }

  .text {
    display: table-cell;
    vertical-align: middle;
  }
}

@include breakpoint(mobile) {

  $mobile-nav-w: 216px;
  $mobile-nav-padding: 12px;

  .site-header {
    .logo {
      float: none;
      width: (138px / 1.5);
      height: (84px / 1.5);
      a {
        background-size: (138px / 1.5) (84px / 1.5);
        background-position: 0 0;
      }
    }
  }

  .site-nav {
    position: fixed;
    overflow: scroll;
    top: 0;
    background: #eaeaea;

    width: $mobile-nav-w;
    padding: $mobile-nav-padding;
    height: 100%;
    z-index: 99999;
    right: ($mobile-nav-w + ($mobile-nav-padding * 2)) * -1;
    transition: 200ms right ease-out;
  }

  .primary-nav {
    margin-top: 0;

    ul {
      text-align: left;
    }

    ul:after { display: none; }

    li {
      display: block;
    }

    a { display: inline-block; }

    .sub-menu {
      display: block;
      position: relative;
      width: auto;
      height: auto;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      border: 0;
      background: transparent;

      &:before, &:after { display: none; }

      a { display: inline-block; }
    }
  }

  .secondary-nav {
    position: relative;
    height: auto;
    top: auto;

    div, li {
      display: block;
    }

    .secondary-content {
      padding-left: 0;
      text-align: left;
    }

    a {
      display: inline-block;
      padding: 0;
    }

    .badge {
      display: none;
    }
  }

  .show-nav {
    .site-nav {
      right: 0;
    }
  }
}
