///////////////////////////
// News
///////////////////////////

.dt {
  margin: em(24px) 0;
  @include sans-roman(em(12px), (24/12));
  font-style: italic;
}

.post.category-thanks {
  margin: em(30px) 0;
  padding: em(30px) em(54px);
  border: 1px solid #F0F0F0;
  border-width: 1px 0;
  transition: 150ms background ease-out;

  .icon {
    display: block;
    float: left;
    margin: em(18px) em(18px) 0 0;
  }

  p {
    margin: em(18px,18px) 0;
    @include sans-bold(em(18px), (32/18));
    color: $lightgrey;
  }

  &:hover, &:focus {
    background: #FAFAFA;
  }
}

.news-toc {
  margin: 0 0 em(30px);

  .post {
    margin: 0;
    padding-top: em(30px);
    padding-bottom: em(30px);
    border: 1px solid #F0F0F0;
    border-width: 0 0 1px;

    .home & { margin-bottom: em(30px); padding-top: 0; }
  }

  .more-posts {
    margin: em(30px) 0;
  }
}

@include breakpoint(mobile) {
  .post.category-thanks {
    margin: 0;
    padding: em(18px) 0;

    &:hover, &:focus { background-color: #fff; }

    .icon {
      width: 48px;
    }

    p {
      margin: em(18px,18px) 0;
      @include sans-bold(em(16px), (32/18));
      color: $lightgrey;
    }
  }
}
