.page-sidebar {

  aside {
  }
}


.sidebar-nav {
  margin: 0 0 em(36px);

  ul, li {
    margin: 0;
    padding: 0;
    font-size: 1em;
    list-style: none;
  }

  li {
    border-bottom: 1px solid $hairline;
  }

  a {
    display: block;
    padding: em(15px) em(24px);
    @include sans-roman(em(16px), (24/16));
    text-align: center;
    color: $lightgrey;
  }
}

.sidebar-community-quote {
  margin: 0 0 em(36px);
  padding: 0 em(24px);
  blockquote {
    color: $darkteal;

    p {
      @include mono-bold(em(16px), (30/16));
    }
  }
}

.sidebar-facebook-ad {
  position: relative;
  margin: 0 0 em(36px);

  .frame {
    @include sans-bold(em(16px), (24/17));
    padding: em(4px,16px);
    text-align: center;
    color: #fff;
    background: #325B99 none;
    transition: background 100ms ease-out;

    &:hover, &:focus {
      background-color: darken(#325B99, 5%);

    }
  }

  .inner {
    padding: em(30px,16px) em(24px,16px);
    font-size: 1em;
    border: 2px solid #849DC2;
  }

  .frame, .inner {
    display: block;
    border-radius: em(6px,16px);

  }


}


.sidebar-image-ad {
  position: relative;
  margin: 0 em(24px) em(36px);

  &, & .mask, & .link, & .image { height: 212px; }

  .mask, .link {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  .mask {
    z-index: 2;
    background: rgba($yellow, 0.5);

    .no-rgba & { background: transparent url("images/FEB62D-50.png") repeat; }
  }

  .image {
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .link {
    display: table;
    z-index: 3;

    text-transform: uppercase;
    text-align: center;
    color: #fff;

    .text {
      display: table-cell;
      padding: 0 em(30px);
      @include sans-bold(em(24px), (30/24));
      vertical-align: middle;
    }
  }

}
