.sidebar-nav {
  margin: 0 0 em(36px);

  ul, li {
    margin: 0;
    padding: 0;
    font-size: 1em;
    list-style: none;
  }

  li {
    border-bottom: 1px solid $hairline;
  }

  a {
    display: block;
    padding: em(15px) em(24px);
    @include sans-roman(em(16px), (24/16));
    text-align: left;
    color: $lightgrey;

    &:hover, &:focus {
      color: #979797;
    }
  }
}

.sidebar-community-quote {
  margin: 0 0 em(36px);
  padding: 0 em(24px);
  blockquote {
    color: rgba($darkteal, 0.5);

    p {
      @include mono-medium(em(16px), (30/16));
    }
  }
}

.sidebar-facebook-ad {
  position: relative;
  margin: 0 0 em(36px);

  .frame {
    @include sans-bold(em(16px), (24/17));
    padding: em(4px,16px);
    text-align: center;
    color: #fff;
    background: #325B99 none;
    transition: background 100ms ease-out;

    &:hover, &:focus {
      background-color: darken(#325B99, 5%);

    }
  }

  .inner {
    padding: em(30px,16px) em(24px,16px);
    font-size: 1em;
    border: 2px solid #849DC2;
  }

  .frame, .inner {
    display: block;
    border-radius: em(6px,16px);

  }
}

.sidebar-enews {
  position: relative;
  margin: 0 0 em(36px);

  .frame {
    @include sans-bold(em(16px), (24/17));
    padding: em(18px,16px) em(24px,16px);
    border: 1px solid #E4E4E4;
    border-radius: em(6px,16px);
    text-align: center;

    background: #F6F6F6 none;
    transition: background 100ms ease-out;

    &:hover, &:focus {
      background-color: darken(#F6F6F6, 5%);

    }
  }

  .title {
    display: block;
    margin: 0 0 em(12px,12px);
    @include sans-bold(em(12px), (24/12));
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1B6F7A;
  }

  .controls {
    @extend %clearfix;

    input, button {
      height: em(48px,14px);

    }

    input {
      width: percentage(170/258);
      padding: em(12px,14px);
      @include sans-roman(14px, (24/14));
    }

    button {
      width: percentage(88/258);
      padding: em(12px,14px);
      @include sans-roman(14px, (24/14));
    }
  }
}


.sidebar-thank-yous {
  .title-wrap {
    position: relative;
    margin-top: 24px;
    margin-left: -24px;
    margin-right: -24px;
    background: transparent url("img/sidebar-thank-you-banner.svg") 50% 0 no-repeat;
    background-size: contain;
    z-index: 3;

    .no-svg { background-image: url("img/sidebar-thank-you-banner.png");}
  }

  .title {
    height: em(24px);
    margin: 0;
    padding: em(21px) em(18px) em(39px);
    font-size: 1em;
    line-height: em(24px);
    text-align: center;
    &, & a { color: #fff; }
  }

  .logo {
    @extend %image-replacement;
    display: inline-block;
    width: em(72px);
    height: em(24px);
    margin-right: em(6px);
    vertical-align: middle;
    background: transparent url("img/logo-inverted.svg") 0 50% no-repeat;
    background-size: 100% 100%;
  }

  .text {
    display: inline-block;
    @include sans-bold(em(12px), (24/12));
    vertical-align: middle;
  }

  .frame {
    margin: 0 24px;
    border: 2px solid #E4E4E4;
    border-radius: em(8px);
    padding: em(4px);
  }

  .inner {
    border: 1px solid #F0F0F0;
    border-radius: em(8px);
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul { position: relative; margin-top: -18px; z-index: 1;}

  li {
    font-size: 1em;
    border-top: 1px solid #F0F0F0;

    a {
      display: block;
      padding: em(36px,14px) em(24px,14px);
      font-size: em(14px);
      line-height: (20/14);
      color: #7CBFC7;
      transition: all 100ms ease-out;
    }

    a:hover, a:focus {
      color: #2494A2;
      background-color: #FAFAFA;
    }
  }

  .entry-1 {
    border-top: 0;
  }

  @include breakpoint(tablet) {
    .title-wrap {
      font-size: 13px;
    }
  }

}


.sidebar-image-ad {
  position: relative;
  margin: 0 em(24px) em(36px);

  &, & .mask, & .link, & .image { height: 212px; }

  .mask, .link {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  .mask {
    z-index: 2;
    background: rgba($yellow, 0.5);

    .no-rgba & { background: transparent url("images/FEB62D-50.png") repeat; }
  }

  .image {
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .link {
    display: table;
    z-index: 3;

    text-transform: uppercase;
    text-align: center;
    color: #fff;

    .text {
      display: table-cell;
      padding: 0 em(30px);
      @include sans-bold(em(24px), (30/24));
      vertical-align: middle;
    }
  }

}
