/// re-usable typeface, size, colour, etc... definitions go here
/// and then are extended below
%h1 {
  margin: em(4px,60px) 0 em(32px,60px);
  @include sans-condensed(em(60px), (72/60));
  &, & a { color: $lightteal; }
}

%h2 {
  margin: em(24px, 24px) 0;
  @include sans-bold(em(24px), 1);
  &, & a { color: $lightteal; }
}

%h3 {
  margin: em(24px, 20px) 0;
  @include sans-bold(em(20px), (24/20));
  &, & a { color: $lightteal; }
}

%h4 {
  margin: em(24px, 14px) 0;
  @include sans-bold(em(14px), (24/14));
  text-transform: uppercase;
  letter-spacing: 2px;
  &, & a { color: $lightteal; }
}

/// actual CSS selectors start here
body {
  margin: 0;
  @include sans-roman($base-font-size, 2);
  color: $grey;
}

a {
  color: $lightteal;
  text-decoration: none;
  transition: 100ms color ease-out;

  &:hover, &:focus {
    color: darken($lightteal, 15%);
  }
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

p {
  margin: em(24px,15px) 0;
  font-size: em(15px);
  line-height: (24/15);

  strong, b {
    @include sans-bold;
  }

  small {
    font-size: em(12px,15px);
    line-height: (18/12);
  }
}

ul, ol { margin: em(24px) 0; }

li {
  margin: 0;
  font-size: em(14px);
  line-height: (24/14);

  // do not shrink the type for each level of nesting
  ul, ol { margin: em(6px, 14px); }
  li { font-size: 1em; }
}

blockquote {
  margin: em(32px) 0;
  padding: 0;
  font-size: 1em;
  color: $bluegrey;

  p {
    margin: em(12px,32px) 0;
    @include sans-light-condensed(em(32px,16px), (48/32));
  }

  cite {
    display: block;
    margin: 0;
    @include sans-roman(em(16px), (36/16));
    font-style: italic;
  }

}

// first paragraph after the lede needs to be nudged up
.lede + p {
  margin-top: em(-6px,15px);
}

// first paragraph after blockquote needs to be nudged down
blockquote + p {
  margin-top: em(42px,15px);
}

.lede p {
  margin: em(24px,22px) 0;
  font-size: em(22px);
  line-height: (36/22);
}

.faux-heading {
  @extend %h4;
}

.more-link, .btn {
  display: inline-block;
  box-sizing: border-box;
  -webkit-appearance: none;
  margin: em(18px,16px) 0;
  padding: em(6px,16px) em(18px,16px);
  font-size: 16px;
  border: 0;
  border-radius: em(6px,16px);
  @include sans-bold(em(16px,16px), (36/16));
  color: #fff;
  background-color: $darkteal;
  cursor: pointer;
  transition: 100ms background ease-out;

  &:hover, &:focus {
    color: #fff;
    background-color: $lightteal;
  }

  &:active {
    color: #fff;
    background-color: lighten($lightteal, 10%);
  }
}

.skip-link { @extend %visuallyhidden; }


// here's a media query defining a breakpoint
// set the font-size for the containers first, then manually
// set the styles
@media all and (max-width: 800px) {
  .site-header {  font-size: 14px; }
  .site-body {    font-size: 14px; }

  h4 {
    font-size: em(14px, 14px);
  }
}

@media all and (max-width: 600px) {
  .site-header {  font-size: 13px; }
  .site-body {    font-size: 13px; }

  h1 {
    font-size: em(36px, 13px);
  }
}

