///////////////////////////
// WordPress Media
///////////////////////////
.aligncenter, .alignnone {
  width: 100%;
}


.alignleft, .alignright {
  width: percentage(309/618);
}

.alignleft {
  float: left;
  margin: em(6px) percentage(30/618) em(18px) 0;
}

.alignright {
  float: right;
  margin: em(6px) 0 em(18px) percentage(30/618);
}

.aligncenter, .alignnone, .alignleft, .alignright {
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.boxsizing .site-body {
  img.aligncenter, img.alignnone, img.alignleft, img.alignright {
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid $hairline;
  }

  .aligncenter, .alignnone, .alignleft, .alignright {
    img {
      box-sizing: border-box;
      padding: 4px;
      border: 1px solid $hairline;
    }
  }
}


@media all and (max-width: 618px) {
  .alignleft, .alignright {
    float: none;
    width: 100%;
    margin: em(30px) 0;
  }
}

.wp-caption-text, .content .wp-caption .wp-caption-text {
  margin: em(12px,12px) em(6px,12px);
  font-size: em(12px);
  line-height: (18/12);
}

///////////////////////////
// Embedded galleries
///////////////////////////

.gallery-wrapper {

}


.flex-viewport {
  height: em(400px);
}

.gallery {
  clear: both;
  width: 100%;
  height: em(400px);
  margin: em(30px) 0;

  img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: em(350px);
    margin: 0 auto;
  }
}

///////////////////////////
// Embedded videos
///////////////////////////
.embed {
  margin: em(30px) 0;
  .inner {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 56.25%; // 56.25%; /* 16:9 */
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.enews {
  label {
    display: block;
  }

  .controls {
    width: 100%;
    @extend %clearfix;
  }

  input, button {
    display: block;
    float: left;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 0;
  }

  input {
    width: percentage(216/306);
    height: em(48px,14px);
    padding: em(12px,14px);
    border: 0;
    @include sans-roman(14px, (24/14));
    color: $lightgrey;
    box-shadow: inset 0 0 3px rgba(#000, 0.25);

    &::-webkit-input-placeholder { text-transform: lowercase; color: $lightgrey; }
    &::-moz-placeholder { text-transform: lowercase; color: $lightgrey; }
  }

  button {
    width: percentage(90/306);
    height: em(48px,14px);
    padding: em(12px,14px);
    border: 0;
    @include sans-bold(14px, (24/14));
    color: #fff;
    background-color: #8BC540;
    box-shadow: inset 0 0 3px rgba(#000, 0.3);
    cursor: pointer;
    transition: background 200ms ease-out;

    &:hover, &:focus {
      background-color: darken(#8BC540, 5%);
    }
  }

  .note {
    margin: em(12px,11px) 0;
    @include sans-roman(11px, (16/11));
  }
}

.icon-badge, .secondary-nav .icon-badge {
  &, .icon {
    display: inline-block;
    width: em(54px);
    height: em(48px);
    padding: 0;
    font-size: 1em;
    line-height: (48/16);
    letter-spacing: 0;
    text-transform: none;
    text-align: center;
    vertical-align: middle;
  }
}

.icon-badge {
  margin: em(18px) em(18px) em(18px) 0;

  .label { @extend %visuallyhidden; }
}

.facebook-badge {
  &, & .icon { color: #fff; }

  background-color: lighten(#325B99, 50%);
  background-color: rgba(#325B99, 0.15);
  transition: 100ms all ease-out;

  &:hover, &:focus {
    background-color: lighten(#325B99, 10%);
    background-color: rgba(#325B99, 0.90);
  }
  &:active {
    background-color: #325B99;
    background-color: rgba(#325B99, 1);
  }

  .high-contrast & { background-color: #325B99 !important; }
}

.twitter-badge {
  &, & .icon { color: #fff; }

  background-color: lighten(#4099FF, 50%);
  background-color: rgba(#4099FF, 0.15);
  transition: 100ms all ease-out;

  &:hover, &:focus {
    background-color: lighten(#4099FF, 10%);
    background-color: rgba(#4099FF, 0.90);
  }
  &:active {
    background-color: #4099FF;
    background-color: rgba(#4099FF, 1);
  }

  .high-contrast & { background-color: #4099FF !important; }
}

.instagram-badge {
  &, & .icon { color: #fff; }

  background-color: lighten(#517fa4, 50%);
  background-color: rgba(#517fa4, 0.15);
  transition: 100ms all ease-out;

  &:hover, &:focus {
    background-color: lighten(#517fa4, 10%);
    background-color: rgba(#517fa4, 0.90);
  }
  &:active {
    background-color: #517fa4;
    background-color: rgba(#517fa4, 1);
  }

  .high-contrast & { background-color: #517fa4 !important; }
}



.post-toc .category-thanks p {
  padding: em(12px,14px) 0;
  font-size: em(14px);
  line-height: (20/14);
  color: #7CBFC7;
}

/// Pagination

.pagination {
  margin: em(30px) 0;
  .page-numbers {
    display: inline-block;
    min-width: em(20px,15px);
    height: em(20px,15px);
    margin-right: em(6px,15px);
    padding: em(7px,15px);
    border: 1px solid #E4E4E4;
    border-radius: em(6px,15px);
    @include sans-condensed(em(15px), (20/15));
    text-align: center;
    color: $lightgrey;
    transition: 100ms background ease-out;
  }

  a:hover, a:focus, .current {
    background-color: #F0F0F0;
  }

  .prev, .next {
    color: #fff;
    background-color: #51BDB5;

    &:hover, &:focus {
      background-color: darken(#51BDB5, 10%);
    }
  }
}
