---
title: YANA
---

<h1>H1: Lorem Ipsum Dolor Sit Amet consectetuer</h1>

<div class="lede">
  <p>Lede or excerpt: lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.</p>
</div>

<p>P1: Suspendisse id velit <a href="#">vitae ligula volutpat</a> condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus <a href="#">pharetra posuere sapien</a>. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis. Nam magna enim, accumsan, blandit sed, blandit eros.</p>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit morbi commodo 75.</p>

<h2>H2: Quisque facilisis erat a dui</h2>

<p>Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam. Aliquam iaculis. Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis. Suspendisse sagittis ante a urna. Morbi a est quis orci consequat rutrum. Nullam egestas feugiat felis. Integer adipiscing semper ligula.</p>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum.</p>

<h3>H3: Donec porttitor ligula eu dolor</h3>

<p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam. Aliquam iaculis. Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis. Suspendisse sagittis ante a urna. Morbi a est quis orci consequat rutrum.</p>

<blockquote>
  <p>Blockquote: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.</p>
  <p>Here's a second line, since technically they are allowed.</p>
  <cite>– The Ipsum Family</cite>
</blockquote>

<p>Nullam egestas feugiat felis. Integer adipiscing semper ligula. Nunc molestie, nisl sit amet cursus convallis, sapien lectus pretium metus, vitae pretium enim wisi id lectus. Donec vestibulum. Etiam vel nibh. Nulla facilisi. Mauris pharetra. Donec augue. Fusce ultrices, neque id dignissim ultrices, tellus mauris dictum elit, vel lacinia enim metus eu nunc.</p>

<blockquote>
  <p>Here's a blockquote without a citation</p>
</blockquote>

<p>Proin at eros non eros adipiscing mollis.</p>

<h4>H4: Donec semper turpis sed diam</h4>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien.</p>

<h3>List options</h3>

<ul>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetuer adipiscing elit</li>
  <li>Morbi commodo, ipsum sed pharetra gravida
    <ul>
      <li>Consectetuer adipiscing elit</li>
      <li>Morbi commodo, ipsum sed pharetra gravida</li>
      <li>Orci magna rhoncus neque, id pulvinar odio</li>
    </ul>
  </li>
  <li>Orci magna rhoncus neque, id pulvinar odio</li>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida.</li>
  <li>Nullam sit amet enim</li>
</ul>

<p>Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer.</p>

<p><strong>Bold: numbered list</strong> but this is actually just a paragraph <em>with italics</em>.</p>

<ol>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetuer adipiscing elit</li>
  <li>Morbi commodo</li>
  <li>id pulvinar odio</li>
</ol>

<p>Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum.</p>

<h2>Level One Heading</h2>

<h2>Level One Heading</h2>

<h3>NIK TODO: In the AI file this is 16px, but H3s are 20px – Level One Heading</h3>

<h4>NIK TODO: In the AI file this is 13px, but H4s are 14px – Level Three Heading</h4>

<p class="faux-heading">This is a faux heading, showing how SASS's extend functions are useful.</p>

<p><small>Small print / citations / TOC excerpts: Maecenas vitae nulla consequat libero cursus venenatis. Nam magna enim, accumsan eu, blandit sed, blandit a, eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.</small></p>

<p><strong>Bold</strong></p>

<button class="btn">Button style</button>

<div>
  <a class="icon-badge facebook-badge" href="https://www.facebook.com/pages/YANA-Comox-Valley/9846076614"><span class="icon icon-facebook"></span></a>
  <a class="icon-badge twitter-badge" href="#todo"><span class="icon icon-twitter"></span></a>
  <a class="icon-badge instagram-badge" href="#todo"><span class="icon icon-instagram"></span></a>
</div>
